body {
    background-color: #DDCC55;
    color: #000000;
    font-family: "stoke", "Lucida Bright", "liberation";
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #222222;
}

a:visited {
    color: #222222;
}

ol, ul {
    line-height: 200%;
    color: #202020;
}

.ender {
    float: right;
    text-align: right;
    line-height: 140%;
    font-size: 14px;
    font-family: "Karla", "Verdana", "Ubuntu";
}

.imgLogo {
    border-bottom: 3px solid #402020;
    margin-bottom: 6px;
    padding-bottom: 15px;
}

.apres {
    text-align: center;
    font-size: 16px;
}

nav ul {
    color: #222222;
    line-height: 230%;
    margin-top: 40px;
    list-style-type: square;
}

section {
    margin-top: 0px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .titulo {
    text-align: center;
  }
  
  .listaNum {
    width: 480px;
    background-color: #EEDDCC;
    color: #000000;
    padding: 10px 10px 10px 50px;
    border: 2px solid #000000;
    margin: 0 auto;
  }
  .listaNum li{
    color: #000000;
    list-style-type: square;
  }
  
  .listaComp li {
    color: #000000;
    list-style-type: lower-alpha;
  }
  
.preco {
  color: #CC0000;
}

.menu {
  width: 20%; /* Ocupa 50% da largura da página */
  height: 100vh; /* Ocupa toda a altura da página */
  float: left;
}

.tituloeq {
  text-align: left;
}

.tabEquip {
  border-collapse: separate;
  width: 40%;
  margin-bottom: 10px;
  font-size: 14px;
  border-spacing: 0;
}

.tabTitulo {
  background-color: #402020;
  color: #FFFFFF;
  border: 1px solid #000;
  padding: 10px;
}

.tabSubTit {
  background-color: #802020;
  color: #FFFFFF;
  border: 1px solid #000;
  padding: 10px;
}

.imgCel {
  width: 120px;
  background-color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
}

.imgCel img {
  width: 100%;
  height: auto;
}

td {
  border: 1px solid #000;
  padding: 10px;
  background-color: #EEEEBB;
  font-size: 12px;
  vertical-align: middle;
}

.reverseRow td {
  text-align: left;
}


.tabEquip th, .tabEquip td {
  border: 1px solid #000;
  padding: 10px;
}


.tabSubTit {
  background-color: #802020;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}


.tabEquip td {
  background-color: #EEEEBB;
  font-size: 12px;
  text-align: left;
}

.tituloInsc{
  align-items: left;
  padding-left: 650px;

}
.formul {
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto 10px auto;
  background-color: #EEEEBB;
  color: #202020;
  border: 3px solid #202020;
  font-size: 12px;
  float: left;

}

.fsPessoal, .fsMatricula {
  width: 340px;
  margin: 0 auto 10px auto;
  padding: 10px;
  border: 1px solid #000;
}

.linhaMatricula, .linhaPlano, .linhaCartao, .linhaCheck, .linhaValor {
  display: flex;
  align-items: left;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fsGenero {
  float: right;
  margin-top: -150px;
  margin-right: 10px;
  width: 130px;
}

.linhaNome {
  height: 50px;
  width: 340px;
  padding-top: 8px;
}

.linhaDados {
  height: 150px;
  width: 340px;
}

.fsCartao {
  width: 280px;
  margin: 10px auto;
}

.inpNome {
  width: 220px;
}

.inpTelef, #idade {
  width: 90px;
}

.inpMat {
  width: 70px;
}

.inpNCC {
  width: 130px;
}

.numDD {
  width: 35px;
}

.numQD {
  width: 50px;
}

.inpVal {
  width: 50px;
}

.ColValTot {
  width: 220px;
  display: block;
  float: left;
  text-align: left;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  margin-bottom: 1px;
  border-radius: 3px;
}

.tituloinsc {
  text-align: center;
}

fieldset {
  border: 1px solid #000;
  padding: 10px;
}

legend {
  font-weight: bold;
}

button {
  float: right;
  margin-right: 20px;
}

